In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset_pandas_pd.csv', delimiter=',', names = ['imie', 'nazwisko', 'rok_urodzenia', 'miesiac_urodzenia', 'dzien_urodzenia','miejsce_urodzenia','oddzial_firmy_miasto','departament_miasto_pracownik','rok_rozpoczecia_pracy','miesiac_rozpoczecia_pracy','dzien_rozpoczecia_pracy','doswiadczenie_lata'])
df

,imie,nazwisko,rok_urodzenia,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_firmy_miasto,departament_miasto_pracownik,rok_rozpoczecia_pracy,miesiac_rozpoczecia_pracy,dzien_rozpoczecia_pracy,doswiadczenie_lata
0,Adam,Abacki,1970,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
5,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20
6,Grzegorz,Gabacki,1967,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18
7,Halina,Habacka,1974,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17
8,Iwona,Ibacka,1966,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16
9,Janusz,Abacki,1975,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20
10,Karolina,Babacka,1965,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30
11,Leon,Cabacki,1976,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24
12,Michal,Dabacki,1964,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21
13,Natalia,Ebacka,1977,5,20,Zakopane,Krakow,HR,2008.0,4,10,20
14,Oskar,Fabacki,1963,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10
15,Patrycja,Gabacka,1978,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9
16,Roman,Abacki,1962,2,23,Lublin,Krakow,Data Science,NaN,5,12,8
17,Stanislawa,Babacka,1979,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7
18,Tomasz,Cabacki,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6
19,Urszula,Dabacka,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5
20,Wladyslaw,Ebacki,1960,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15
21,Zofia,Fabacka,1981,5,22,Gdansk,Krakow,HR,NaN,8,25,14
22,Anastazja,Abacka,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
23,Antoni,Abacki,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12
24,Beata,Babacka,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11
25,Cezary,Cabacki,1983,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12
26,Daniel,Dabacki,1992,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10
27,Ewa,Ebacka,1984,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9
28,Franciszek,Abacki,1993,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8
29,Boleslaw,Babacki,1985,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7
30,Dariusz,Cabacki,1994,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6
31,Mariusz,Dabacki,1986,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5
32,Wiktor,Abacki,1995,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4
33,Magda,Babacka,1985,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18
34,Maciej,Cabacki,1994,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17
35,Antoni,Abacki,1984,5,8,Ryki,Warszawa,HR,2015.0,5,10,16
36,Bronislaw,Babacki,1993,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15
37,Horacy,Cabacki,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14
38,Alicja,Abacka,1992,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
39,Barbara,Babacka,1982,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10

Zadanie 2

In [2]:
g=df.groupby('nazwisko', sort=False).nazwisko.count()[:1]
df.groupby('nazwisko', sort=False).nazwisko.count().max()
print(g, df.groupby('nazwisko').nazwisko.count().max())

nazwisko
Abacki    7
Name: nazwisko, dtype: int64 7

Zadanie 3

In [4]:
df.insert(3,'Plec',df.imie.apply(lambda imie: 'Kobieta'
                    if imie[-1]=='a'
                    else 'Mezczyzna'))

In [5]:
df

,imie,nazwisko,rok_urodzenia,Plec,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_firmy_miasto,departament_miasto_pracownik,rok_rozpoczecia_pracy,miesiac_rozpoczecia_pracy,dzien_rozpoczecia_pracy,doswiadczenie_lata
0,Adam,Abacki,1970,Mezczyzna,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
1,Barbara,Babacka,1971,Kobieta,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
2,Celina,Cabacka,1969,Kobieta,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
3,Dariusz,Dabacki,1972,Mezczyzna,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
4,Ewelina,Ebacka,1968,Kobieta,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
5,Ferdynand,Fabacki,1973,Mezczyzna,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20
6,Grzegorz,Gabacki,1967,Mezczyzna,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18
7,Halina,Habacka,1974,Kobieta,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17
8,Iwona,Ibacka,1966,Kobieta,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16
9,Janusz,Abacki,1975,Mezczyzna,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20
10,Karolina,Babacka,1965,Kobieta,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30
11,Leon,Cabacki,1976,Mezczyzna,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24
12,Michal,Dabacki,1964,Mezczyzna,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21
13,Natalia,Ebacka,1977,Kobieta,5,20,Zakopane,Krakow,HR,2008.0,4,10,20
14,Oskar,Fabacki,1963,Mezczyzna,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10
15,Patrycja,Gabacka,1978,Kobieta,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9
16,Roman,Abacki,1962,Mezczyzna,2,23,Lublin,Krakow,Data Science,NaN,5,12,8
17,Stanislawa,Babacka,1979,Kobieta,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7
18,Tomasz,Cabacki,1961,Mezczyzna,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6
19,Urszula,Dabacka,1980,Kobieta,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5
20,Wladyslaw,Ebacki,1960,Mezczyzna,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15
21,Zofia,Fabacka,1981,Kobieta,5,22,Gdansk,Krakow,HR,NaN,8,25,14
22,Anastazja,Abacka,1990,Kobieta,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
23,Antoni,Abacki,1982,Mezczyzna,7,20,Warszawa,Krakow,HR,2018.0,10,20,12
24,Beata,Babacka,1991,Kobieta,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11
25,Cezary,Cabacki,1983,Mezczyzna,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12
26,Daniel,Dabacki,1992,Mezczyzna,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10
27,Ewa,Ebacka,1984,Kobieta,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9
28,Franciszek,Abacki,1993,Mezczyzna,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8
29,Boleslaw,Babacki,1985,Mezczyzna,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7
30,Dariusz,Cabacki,1994,Mezczyzna,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6
31,Mariusz,Dabacki,1986,Mezczyzna,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5
32,Wiktor,Abacki,1995,Mezczyzna,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4
33,Magda,Babacka,1985,Kobieta,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18
34,Maciej,Cabacki,1994,Mezczyzna,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17
35,Antoni,Abacki,1984,Mezczyzna,5,8,Ryki,Warszawa,HR,2015.0,5,10,16
36,Bronislaw,Babacki,1993,Mezczyzna,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15
37,Horacy,Cabacki,1983,Mezczyzna,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14
38,Alicja,Abacka,1992,Kobieta,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
39,Barbara,Babacka,1982,Kobieta,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10

Zadanie 4

In [7]:
 df.sort_values(by=['nazwisko', 'rok_urodzenia'])

,imie,nazwisko,rok_urodzenia,Plec,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_firmy_miasto,departament_miasto_pracownik,rok_rozpoczecia_pracy,miesiac_rozpoczecia_pracy,dzien_rozpoczecia_pracy,doswiadczenie_lata
22,Anastazja,Abacka,1990,Kobieta,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
38,Alicja,Abacka,1992,Kobieta,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
16,Roman,Abacki,1962,Mezczyzna,2,23,Lublin,Krakow,Data Science,NaN,5,12,8
0,Adam,Abacki,1970,Mezczyzna,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20
9,Janusz,Abacki,1975,Mezczyzna,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20
23,Antoni,Abacki,1982,Mezczyzna,7,20,Warszawa,Krakow,HR,2018.0,10,20,12
35,Antoni,Abacki,1984,Mezczyzna,5,8,Ryki,Warszawa,HR,2015.0,5,10,16
28,Franciszek,Abacki,1993,Mezczyzna,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8
32,Wiktor,Abacki,1995,Mezczyzna,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4
10,Karolina,Babacka,1965,Kobieta,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30
1,Barbara,Babacka,1971,Kobieta,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
17,Stanislawa,Babacka,1979,Kobieta,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7
39,Barbara,Babacka,1982,Kobieta,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10
33,Magda,Babacka,1985,Kobieta,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18
24,Beata,Babacka,1991,Kobieta,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11
29,Boleslaw,Babacki,1985,Mezczyzna,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7
36,Bronislaw,Babacki,1993,Mezczyzna,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15
2,Celina,Cabacka,1969,Kobieta,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
18,Tomasz,Cabacki,1961,Mezczyzna,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6
11,Leon,Cabacki,1976,Mezczyzna,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24
25,Cezary,Cabacki,1983,Mezczyzna,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12
37,Horacy,Cabacki,1983,Mezczyzna,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14
30,Dariusz,Cabacki,1994,Mezczyzna,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6
34,Maciej,Cabacki,1994,Mezczyzna,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17
19,Urszula,Dabacka,1980,Kobieta,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5
12,Michal,Dabacki,1964,Mezczyzna,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21
3,Dariusz,Dabacki,1972,Mezczyzna,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
31,Mariusz,Dabacki,1986,Mezczyzna,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5
26,Daniel,Dabacki,1992,Mezczyzna,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10
4,Ewelina,Ebacka,1968,Kobieta,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
13,Natalia,Ebacka,1977,Kobieta,5,20,Zakopane,Krakow,HR,2008.0,4,10,20
27,Ewa,Ebacka,1984,Kobieta,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9
20,Wladyslaw,Ebacki,1960,Mezczyzna,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15
21,Zofia,Fabacka,1981,Kobieta,5,22,Gdansk,Krakow,HR,NaN,8,25,14
14,Oskar,Fabacki,1963,Mezczyzna,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10
5,Ferdynand,Fabacki,1973,Mezczyzna,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20
15,Patrycja,Gabacka,1978,Kobieta,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9
6,Grzegorz,Gabacki,1967,Mezczyzna,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18
7,Halina,Habacka,1974,Kobieta,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17
8,Iwona,Ibacka,1966,Kobieta,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16

Zadanie 5

In [8]:
def doswiadczenie(doswiadczenie_lata):
        if doswiadczenie_lata <= 3: return 'Junior'
        elif doswiadczenie_lata >= 4 and doswiadczenie_lata <= 8: return 'Mid'
        elif doswiadczenie_lata >= 9 and doswiadczenie_lata <= 12: return 'Senior'
        elif doswiadczenie_lata >= 13: return 'Ekspert'
        
df.insert(13,'Doswiadczenie',df.doswiadczenie_lata.apply(doswiadczenie))

In [9]:
df

,imie,nazwisko,rok_urodzenia,Plec,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_firmy_miasto,departament_miasto_pracownik,rok_rozpoczecia_pracy,miesiac_rozpoczecia_pracy,dzien_rozpoczecia_pracy,doswiadczenie_lata,Doswiadczenie
0,Adam,Abacki,1970,Mezczyzna,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20,Ekspert
1,Barbara,Babacka,1971,Kobieta,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10,Senior
2,Celina,Cabacka,1969,Kobieta,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
3,Dariusz,Dabacki,1972,Mezczyzna,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid
4,Ewelina,Ebacka,1968,Kobieta,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
5,Ferdynand,Fabacki,1973,Mezczyzna,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20,Ekspert
6,Grzegorz,Gabacki,1967,Mezczyzna,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18,Ekspert
7,Halina,Habacka,1974,Kobieta,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17,Ekspert
8,Iwona,Ibacka,1966,Kobieta,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16,Ekspert
9,Janusz,Abacki,1975,Mezczyzna,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20,Ekspert
10,Karolina,Babacka,1965,Kobieta,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30,Ekspert
11,Leon,Cabacki,1976,Mezczyzna,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24,Ekspert
12,Michal,Dabacki,1964,Mezczyzna,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21,Ekspert
13,Natalia,Ebacka,1977,Kobieta,5,20,Zakopane,Krakow,HR,2008.0,4,10,20,Ekspert
14,Oskar,Fabacki,1963,Mezczyzna,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10,Senior
15,Patrycja,Gabacka,1978,Kobieta,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9,Senior
16,Roman,Abacki,1962,Mezczyzna,2,23,Lublin,Krakow,Data Science,NaN,5,12,8,Mid
17,Stanislawa,Babacka,1979,Kobieta,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7,Mid
18,Tomasz,Cabacki,1961,Mezczyzna,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6,Mid
19,Urszula,Dabacka,1980,Kobieta,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5,Mid
20,Wladyslaw,Ebacki,1960,Mezczyzna,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15,Ekspert
21,Zofia,Fabacka,1981,Kobieta,5,22,Gdansk,Krakow,HR,NaN,8,25,14,Ekspert
22,Anastazja,Abacka,1990,Kobieta,6,21,Gdansk,Krakow,HR,2017.0,9,25,13,Ekspert
23,Antoni,Abacki,1982,Mezczyzna,7,20,Warszawa,Krakow,HR,2018.0,10,20,12,Senior
24,Beata,Babacka,1991,Kobieta,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11,Senior
25,Cezary,Cabacki,1983,Mezczyzna,9,18,Gdynia,Krakow,Data Science,NaN,4,21,12,Senior
26,Daniel,Dabacki,1992,Mezczyzna,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10,Senior
27,Ewa,Ebacka,1984,Kobieta,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9,Senior
28,Franciszek,Abacki,1993,Mezczyzna,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8,Mid
29,Boleslaw,Babacki,1985,Mezczyzna,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7,Mid
30,Dariusz,Cabacki,1994,Mezczyzna,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6,Mid
31,Mariusz,Dabacki,1986,Mezczyzna,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5,Mid
32,Wiktor,Abacki,1995,Mezczyzna,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4,Mid
33,Magda,Babacka,1985,Kobieta,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18,Ekspert
34,Maciej,Cabacki,1994,Mezczyzna,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17,Ekspert
35,Antoni,Abacki,1984,Mezczyzna,5,8,Ryki,Warszawa,HR,2015.0,5,10,16,Ekspert
36,Bronislaw,Babacki,1993,Mezczyzna,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15,Ekspert
37,Horacy,Cabacki,1983,Mezczyzna,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14,Ekspert
38,Alicja,Abacka,1992,Kobieta,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13,Ekspert
39,Barbara,Babacka,1982,Kobieta,1,4,Sopot,Warszawa,Data Science,NaN,2,5,10,Senior

Zadanie 6

In [10]:
def srednia(x):  
        if x=='Ekspert':
            return df[df['Doswiadczenie']==('Ekspert')].rok_rozpoczecia_pracy.mean()
        elif x=='Senior':
            return df[df['Doswiadczenie']==('Senior')].rok_rozpoczecia_pracy.mean()
        elif x=='Mid':
            return df[df['Doswiadczenie']==('Mid')].rok_rozpoczecia_pracy.mean()
        elif x=='Junior':
            return df[df['Doswiadczenie']==('Junior')].rok_rozpoczecia_pracy.mean()
df=df.fillna({'rok_rozpoczecia_pracy': round(df.Doswiadczenie.apply(srednia),0)})

In [11]:
df

,imie,nazwisko,rok_urodzenia,Plec,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_firmy_miasto,departament_miasto_pracownik,rok_rozpoczecia_pracy,miesiac_rozpoczecia_pracy,dzien_rozpoczecia_pracy,doswiadczenie_lata,Doswiadczenie
0,Adam,Abacki,1970,Mezczyzna,3,4,Gdansk,Gdansk,Data Science,2015.0,4,5,20,Ekspert
1,Barbara,Babacka,1971,Kobieta,4,5,Gdynia,Gdansk,Data Science,2008.0,5,15,10,Senior
2,Celina,Cabacka,1969,Kobieta,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
3,Dariusz,Dabacki,1972,Mezczyzna,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid
4,Ewelina,Ebacka,1968,Kobieta,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
5,Ferdynand,Fabacki,1973,Mezczyzna,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20,Ekspert
6,Grzegorz,Gabacki,1967,Mezczyzna,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18,Ekspert
7,Halina,Habacka,1974,Kobieta,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17,Ekspert
8,Iwona,Ibacka,1966,Kobieta,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16,Ekspert
9,Janusz,Abacki,1975,Mezczyzna,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20,Ekspert
10,Karolina,Babacka,1965,Kobieta,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30,Ekspert
11,Leon,Cabacki,1976,Mezczyzna,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24,Ekspert
12,Michal,Dabacki,1964,Mezczyzna,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21,Ekspert
13,Natalia,Ebacka,1977,Kobieta,5,20,Zakopane,Krakow,HR,2008.0,4,10,20,Ekspert
14,Oskar,Fabacki,1963,Mezczyzna,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10,Senior
15,Patrycja,Gabacka,1978,Kobieta,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9,Senior
16,Roman,Abacki,1962,Mezczyzna,2,23,Lublin,Krakow,Data Science,2010.0,5,12,8,Mid
17,Stanislawa,Babacka,1979,Kobieta,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7,Mid
18,Tomasz,Cabacki,1961,Mezczyzna,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6,Mid
19,Urszula,Dabacka,1980,Kobieta,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5,Mid
20,Wladyslaw,Ebacki,1960,Mezczyzna,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15,Ekspert
21,Zofia,Fabacka,1981,Kobieta,5,22,Gdansk,Krakow,HR,2009.0,8,25,14,Ekspert
22,Anastazja,Abacka,1990,Kobieta,6,21,Gdansk,Krakow,HR,2017.0,9,25,13,Ekspert
23,Antoni,Abacki,1982,Mezczyzna,7,20,Warszawa,Krakow,HR,2018.0,10,20,12,Senior
24,Beata,Babacka,1991,Kobieta,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11,Senior
25,Cezary,Cabacki,1983,Mezczyzna,9,18,Gdynia,Krakow,Data Science,2008.0,4,21,12,Senior
26,Daniel,Dabacki,1992,Mezczyzna,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10,Senior
27,Ewa,Ebacka,1984,Kobieta,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9,Senior
28,Franciszek,Abacki,1993,Mezczyzna,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8,Mid
29,Boleslaw,Babacki,1985,Mezczyzna,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7,Mid
30,Dariusz,Cabacki,1994,Mezczyzna,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6,Mid
31,Mariusz,Dabacki,1986,Mezczyzna,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5,Mid
32,Wiktor,Abacki,1995,Mezczyzna,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4,Mid
33,Magda,Babacka,1985,Kobieta,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18,Ekspert
34,Maciej,Cabacki,1994,Mezczyzna,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17,Ekspert
35,Antoni,Abacki,1984,Mezczyzna,5,8,Ryki,Warszawa,HR,2015.0,5,10,16,Ekspert
36,Bronislaw,Babacki,1993,Mezczyzna,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15,Ekspert
37,Horacy,Cabacki,1983,Mezczyzna,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14,Ekspert
38,Alicja,Abacka,1992,Kobieta,2,5,Gdansk,Warszawa,Accounting,2009.0,3,15,13,Ekspert
39,Barbara,Babacka,1982,Kobieta,1,4,Sopot,Warszawa,Data Science,2008.0,2,5,10,Senior

Zadanie 7

In [12]:
df[df.departament_miasto_pracownik=='Data Science'].groupby('oddzial_firmy_miasto').count().sort_values(by =['departament_miasto_pracownik'], ascending=False)[:1].imie

oddzial_firmy_miasto
Krakow    9
Name: imie, dtype: int64

Zadanie 8

In [13]:
def zamiana(departament_miasto_pracownik):        
        if departament_miasto_pracownik=='Software Development': return 'Software Development Team'
        if departament_miasto_pracownik=='HR': return 'Human Resources'
        if departament_miasto_pracownik=='Data Science': return 'Data Analytics'
        return departament_miasto_pracownik

df.departament_miasto_pracownik=df.departament_miasto_pracownik.apply(zamiana)

In [14]:
df

,imie,nazwisko,rok_urodzenia,Plec,miesiac_urodzenia,dzien_urodzenia,miejsce_urodzenia,oddzial_firmy_miasto,departament_miasto_pracownik,rok_rozpoczecia_pracy,miesiac_rozpoczecia_pracy,dzien_rozpoczecia_pracy,doswiadczenie_lata,Doswiadczenie
0,Adam,Abacki,1970,Mezczyzna,3,4,Gdansk,Gdansk,Data Analytics,2015.0,4,5,20,Ekspert
1,Barbara,Babacka,1971,Kobieta,4,5,Gdynia,Gdansk,Data Analytics,2008.0,5,15,10,Senior
2,Celina,Cabacka,1969,Kobieta,6,7,Sopot,Gdansk,Software Development Team,2013.0,6,25,35,Ekspert
3,Dariusz,Dabacki,1972,Mezczyzna,8,9,Lublin,Gdansk,Human Resources,2020.0,4,5,4,Mid
4,Ewelina,Ebacka,1968,Kobieta,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
5,Ferdynand,Fabacki,1973,Mezczyzna,11,12,Walbrzych,Gdansk,Human Resources,2001.0,8,25,20,Ekspert
6,Grzegorz,Gabacki,1967,Mezczyzna,12,13,Gdansk,Gdansk,Software Development Team,2002.0,4,5,18,Ekspert
7,Halina,Habacka,1974,Kobieta,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17,Ekspert
8,Iwona,Ibacka,1966,Kobieta,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16,Ekspert
9,Janusz,Abacki,1975,Mezczyzna,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20,Ekspert
10,Karolina,Babacka,1965,Kobieta,8,17,Legnica,Gdansk,Data Analytics,2005.0,4,15,30,Ekspert
11,Leon,Cabacki,1976,Mezczyzna,7,18,Wroclaw,Krakow,Data Analytics,2006.0,4,25,24,Ekspert
12,Michal,Dabacki,1964,Mezczyzna,6,19,Swinoujscie,Gdansk,Human Resources,2007.0,12,5,21,Ekspert
13,Natalia,Ebacka,1977,Kobieta,5,20,Zakopane,Krakow,Human Resources,2008.0,4,10,20,Ekspert
14,Oskar,Fabacki,1963,Mezczyzna,4,21,Gdansk,Krakow,Data Analytics,2009.0,4,25,10,Senior
15,Patrycja,Gabacka,1978,Kobieta,3,22,Rzeszow,Krakow,Software Development Team,2010.0,4,5,9,Senior
16,Roman,Abacki,1962,Mezczyzna,2,23,Lublin,Krakow,Data Analytics,2010.0,5,12,8,Mid
17,Stanislawa,Babacka,1979,Kobieta,1,24,Inowroclaw,Krakow,Software Development Team,2012.0,4,5,7,Mid
18,Tomasz,Cabacki,1961,Mezczyzna,2,25,Bydgoszcz,Krakow,Data Analytics,2013.0,6,13,6,Mid
19,Urszula,Dabacka,1980,Kobieta,3,24,Bydgoszcz,Krakow,Data Analytics,2014.0,4,14,5,Mid
20,Wladyslaw,Ebacki,1960,Mezczyzna,4,23,Poznan,Krakow,Data Analytics,2015.0,7,16,15,Ekspert
21,Zofia,Fabacka,1981,Kobieta,5,22,Gdansk,Krakow,Human Resources,2009.0,8,25,14,Ekspert
22,Anastazja,Abacka,1990,Kobieta,6,21,Gdansk,Krakow,Human Resources,2017.0,9,25,13,Ekspert
23,Antoni,Abacki,1982,Mezczyzna,7,20,Warszawa,Krakow,Human Resources,2018.0,10,20,12,Senior
24,Beata,Babacka,1991,Kobieta,8,19,Krakow,Krakow,Software Development Team,2019.0,4,24,11,Senior
25,Cezary,Cabacki,1983,Mezczyzna,9,18,Gdynia,Krakow,Data Analytics,2008.0,4,21,12,Senior
26,Daniel,Dabacki,1992,Mezczyzna,10,17,Gdansk,Krakow,Software Development Team,1995.0,12,5,10,Senior
27,Ewa,Ebacka,1984,Kobieta,11,16,Zakopane,Krakow,Software Development Team,1996.0,11,15,9,Senior
28,Franciszek,Abacki,1993,Mezczyzna,12,15,Lublin,Krakow,Data Analytics,1997.0,4,25,8,Mid
29,Boleslaw,Babacki,1985,Mezczyzna,11,14,Katowice,Krakow,Data Analytics,1998.0,4,25,7,Mid
30,Dariusz,Cabacki,1994,Mezczyzna,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6,Mid
31,Mariusz,Dabacki,1986,Mezczyzna,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5,Mid
32,Wiktor,Abacki,1995,Mezczyzna,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4,Mid
33,Magda,Babacka,1985,Kobieta,7,10,Lublin,Warszawa,Software Development Team,2017.0,4,12,18,Ekspert
34,Maciej,Cabacki,1994,Mezczyzna,6,9,Warszawa,Warszawa,Data Analytics,2016.0,6,11,17,Ekspert
35,Antoni,Abacki,1984,Mezczyzna,5,8,Ryki,Warszawa,Human Resources,2015.0,5,10,16,Ekspert
36,Bronislaw,Babacki,1993,Mezczyzna,4,7,Gdansk,Warszawa,Human Resources,2014.0,4,22,15,Ekspert
37,Horacy,Cabacki,1983,Mezczyzna,3,6,Tarnobrzeg,Warszawa,Data Analytics,2013.0,4,25,14,Ekspert
38,Alicja,Abacka,1992,Kobieta,2,5,Gdansk,Warszawa,Accounting,2009.0,3,15,13,Ekspert
39,Barbara,Babacka,1982,Kobieta,1,4,Sopot,Warszawa,Data Analytics,2008.0,2,5,10,Senior

Zadanie 9

In [21]:
df[df.Doswiadczenie=='Senior'].groupby('oddzial_firmy_miasto').count().sort_values(by =['Doswiadczenie'], ascending=False)[:1].imie

oddzial_firmy_miasto
Krakow    7
Name: imie, dtype: int64

Zadanie 10

In [24]:
data=df[(df.Doswiadczenie=='Junior' ) & (df.Plec == 'Kobieta')].count().oddzial_firmy_miasto
print(data)

0

Zadanie 11

In [25]:
df[(df.Doswiadczenie=='Mid') & (df.Plec=='Kobieta')&(df.oddzial_firmy_miasto=='Krakow')& (df.rok_urodzenia < 1975)].count().imie

0

Zadanie 12

In [26]:
from datetime import date
df[(df.Doswiadczenie=='Senior') & (df.rok_rozpoczecia_pracy >=(date.today().year - 10))].count().imie

2